<!DOCTYPE html>
<html>
<head>
    <title>Remove Watermark</title>
</head>
<body>
    <h1>Upload an Image</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="file">Select Image:</label>
        <input type="file" name="file" required><br><br>
        <label for="text_to_remove">Enter Text to Remove:</label>
        <input type="text" name="text_to_remove" required><br><br>
        <button type="submit">Upload and Process</button>
    </form>
</body>
</html>
